/* declaring global variables --variable-name: value;
calling variable use var(variable-name) */
:root {
    --primary-color: lightgreen;
    --secondary-color: lightblue;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* h1 font or maybe other headings (h2) also */
h1, h2, .navigation a {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

/* normal paragraph font */
figcaption, p {
    font-family: "Source Sans 3", serif; /* This font was a custom made font. */
    font-weight: 350;
    font-style: normal;
    color: black;
    /* padding: 10px; */
}

/* For hamburger menu */
#menu {
    display: block;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    
}

#menu::before {
    content: "=";  /* U+2630 or \u2630 */
}

.navigation {
    list-style-type: none;
    margin: 0 auto;
}

.navigation li {
    display: none; /* To not display list before click "hamburger" button */
}

.show li { /* JavaScript will make the show class */
    display: block;
}

#menu.show::before {
    content: "X";
}

.navigation a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    background-color: var(--primary-color);
    color: black;
}

.navigation a:hover {
    /* different background color (and text color) or border (different colored) */
    background-color: var(--secondary-color);
}

main {
    max-width: 800px; /* 800px was in the example */
    /* automatically center on the screen horizontally */
    margin: 0 auto;
    display: grid;
    /* in mobile view */
    grid-template-columns: 1fr;
    grid-template-rows: 50px repeat(9, 1fr);
    grid-gap: 20px;
    place-items: center;
}

img {
    width: 200px;
    height: auto;
}

h1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.fig1 {
    grid-row: 2 / 3;
}

.fig2 {
    grid-row: 3 / 4;
}

.fig3 {
    grid-row: 4 / 5;
}

.fig4 {
    grid-row: 5 / 6;
}

.fig5 {
    grid-row: 6 / 7;
}

.fig6 {
    grid-row: 7 / 8;
}

.fig7 {
    grid-row: 8 / 9;
}

.fig8 {
    grid-row: 9 / 10;
}

.fig9 {
    grid-row: 10 / 11;
}

footer {
    background-color: var(--primary-color);
    text-align: center;
}